<div class="container mt-3">
  <div class="row">
    <h1>Editing Space</h1>
  </div>

  <%= render 'form', space: @space %>

  <div class="row text-center">
    <%= link_to 'Show', @space, class: "btn btn-link btn-sm" %>
  </div>
</div>