<div class="container mt-3">
  <div class="row">
    <% if @user %>
      <div class="col-md-4">
          <%= render 'users/card', user: @user %>
      </div>
      <div class="col-md-8">
        <%= render 'spaces/card', space: @space %>
      </div>
    <% else %>
      <div>
        <%= render 'spaces/card', space: @space %>
      </div>
    <% end %>
  </div>
</div>
