<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">
      <% if @user %>
        <%= render 'users/card', user: @user %>
      <% end %>
    </div>
    <div class="col-md-8">
      <% @spaces.each do |space| %>
        <%= render 'spaces/card', space: space %>
      <% end %>
    </div>
  </div>
</div>
