<h1>Contact Us</h1>

<p>You can try to contact us... but we never pick up the phone or check our mail.</p>

<address>
	Rails Widgets, Inc.<br>
	123 Main Street<br>
	Anytown, USA, 12345-4321<br>
	+1 123-456-7890
</address>
