<h1>Welcome to SnapYourSpace!</h1>

<p>SnapYourSpace is the premiere workspace photo sharing app ever built in the history of mankind!</p>

<p>Post photos of your office, gear, tools, and devices you use to get stuff done. Then you can share your profile with friends, add links so your friends can buy cool tools, and connect with colleagues to share tips and tricks.</p>
